<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f375">  <td>19/05/02 12:58:18</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.propero.agencymodule.utility.Mail@2173f6d9]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1629604310</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/05/02 12:58:20</td>   <td>1764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.propero.agencymodule.utility.Mail@2173f6d9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1629604310</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/05/02 12:58:18</td>   <td>190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mail.mailSend()[pri:0, instance:com.org.propero.agencymodule.utility.Mail@2173f6d9]">mailSend</td> 
  <td>main@1629604310</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/05/02 12:58:20</td>   <td>1907</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.propero.agencymodule.utility.Mail@2173f6d9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1629604310</td>   <td></td> </tr>
</table>
