<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AgentModificationTestCasesSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f8bb1">  <td>19/05/08 11:39:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.propero.agencymodule.testClasses.AgentModificationTestClass@29b5cd00]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122805102</td>   <td></td> </tr>
<tr bgcolor="87a4a8">  <td>19/05/08 11:39:34</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AgentModificationTestClass.modificationofAgent()[pri:0, instance:com.org.propero.agencymodule.testClasses.AgentModificationTestClass@29b5cd00]">modificationofAgent</td> 
  <td>main@1122805102</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>19/05/08 11:39:59</td>   <td>24598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.propero.agencymodule.testClasses.AgentModificationTestClass@29b5cd00]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1122805102</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>19/05/08 11:39:59</td>   <td>24635</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.propero.agencymodule.testClasses.AgentModificationTestClass@29b5cd00]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122805102</td>   <td></td> </tr>
</table>
