<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7690be">  <td>19/03/20 16:06:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.propero.agencymodule.utility.Mail@63e2203c]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1883919084</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>19/03/20 16:06:41</td>   <td>5475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.propero.agencymodule.utility.Mail@63e2203c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1883919084</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>19/03/20 16:06:35</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mail.mailSend()[pri:0, instance:com.org.propero.agencymodule.utility.Mail@63e2203c]">mailSend</td> 
  <td>main@1883919084</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>19/03/20 16:06:41</td>   <td>5525</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.propero.agencymodule.utility.Mail@63e2203c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1883919084</td>   <td></td> </tr>
</table>
