<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AgentCreationTestCaseSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9a889">  <td>19/05/29 18:26:36</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.propero.agencymodule.testClasses.MainTestClass@3e9b1010]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/05/29 18:26:36</td>   <td>98</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTestClass.agnetModificationTestCases()[pri:4, instance:com.org.propero.agencymodule.testClasses.MainTestClass@3e9b1010]">agnetModificationTestCases</td> 
  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>19/05/29 18:36:16</td>   <td>580029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.propero.agencymodule.testClasses.MainTestClass@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>19/05/29 18:36:16</td>   <td>580457</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.propero.agencymodule.testClasses.MainTestClass@3e9b1010]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
</table>
