<h2>Methods that were not run</h2><table>
<tr><td>com.org.propero.agencymodule.testClasses.MainTestClass.agenTCreationTestCases_NegativeTestCase1</td></tr>
<tr><td>com.org.propero.agencymodule.testClasses.MainTestClass.agenTCreationTestCases_NegativeTestCase2</td></tr>
<tr><td>com.org.propero.agencymodule.testClasses.MainTestClass.communicationDeatilsTestcases</td></tr>
<tr><td>com.org.propero.agencymodule.testClasses.MainTestClass.agenTCreationTestCases</td></tr>
</table>