<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>EmailReportTestCaseSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9a889">  <td>19/05/29 18:36:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.propero.agencymodule.utility.Mail@670b40af]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>19/05/29 18:36:16</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mail.mailSend()[pri:0, instance:com.org.propero.agencymodule.utility.Mail@670b40af]">mailSend</td> 
  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>19/05/29 18:36:38</td>   <td>21125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.propero.agencymodule.utility.Mail@670b40af]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>19/05/29 18:36:38</td>   <td>21161</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.propero.agencymodule.utility.Mail@670b40af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
</table>
