<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bf460">  <td>19/10/24 13:08:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.propero.agencymodule.testClasses.AgentModificationTestClass@53b32d7]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>19/10/24 13:12:40</td>   <td>229443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.propero.agencymodule.testClasses.AgentModificationTestClass@53b32d7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="6481f5">  <td>19/10/24 13:08:51</td>   <td>79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AgentModificationTestClass.modificationofAgent()[pri:0, instance:com.org.propero.agencymodule.testClasses.AgentModificationTestClass@53b32d7]">modificationofAgent</td> 
  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>19/10/24 13:12:40</td>   <td>229469</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.propero.agencymodule.testClasses.AgentModificationTestClass@53b32d7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
</table>
