<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (1)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97fd8f">  <td>19/01/17 17:23:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mail.MailSend()[pri:0, instance:com.org.Propero.AgencyModule.Utility.Mail@7d0587f1]">MailSend</td> 
  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/01/17 17:23:20</td>   <td>-6</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.Propero.AgencyModule.Utility.Mail@7d0587f1]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/01/17 17:23:24</td>   <td>3149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.Propero.AgencyModule.Utility.Mail@7d0587f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/01/17 17:23:24</td>   <td>3173</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.Propero.AgencyModule.Utility.Mail@7d0587f1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
</table>
